<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





<div id="maindiv">
<ul>

	<!--hiding addr in li if user has iphone!-->

	<li id="iLoc" data-addr={{iphoneLoc}}> Airline: {{airline}}  </li>      
	<li id="choice" data-choice={{airchoice}}> Flight Status: {{arrival}}</li>
	<li id="airport_depart" data-arr_depart={{departure_city}}> Departure City: {{departure_city}}</li>
	<li id="airport_arrive" data-arr_arrive={{arrival_city}}> Arrival City : {{arrival_city}}</li>
	<li> Departure Date: {{departure_date}}</li>
	<li> Arrival Date : {{arrival_date}}</li>
	<li> Take Off Time: {{takeoff_time}}</li>
	<li id="gateArrival"> Arrival At Gate: {{gate_arrival_time}}</li> 
 
</ul>

</div>
<br>
<br>
<script type="text/javascript">
	var d = 150, factor = d / 3 * 2; // increment delay by two thirds original delay
	$("#maindiv ul li").each(function(){
    $(this).delay(d = d + factor).animate({marginLeft:'115px'},900);
		});
	if ($('#choice').data('choice') == "departing") {

		airport = $("#airport_depart").data('arr_depart')+' airport';
	}
	else if ($('#choice').data('choice') == "arriving") {
		airport = $("#airport_arrive").data('arr_arrive')+' airport';
	}
	var iLoc = $("#iLoc").data('addr');
	console.log('iLoc in flightresults',iLoc);
	
    
	

</script>
{{>dirtoairport}}