<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





<div id="maindiv">
<ul>
<!-- 	{{#each air_info}}
    <li>{{@key}} : {{this}}</li>
	{{/each}} -->
	<!--hiding addr in li if user has iphone -->

	<li id="iLoc" data-addr={{iphoneLoc}}> Airline: {{airline}} </li>      
	<li> Flight Status: {{arrival}}</li>
	<li> Departure City: {{departure_city}}</li>
	<li id="airport" data-port={{arrival_city}}> Arrival City : {{arrival_city}}</li>
	<li> Departure Date: {{departure_date}}</li>
	<li> Arrival Date : {{arrival_date}}</li>
	<li> Take Off Time: {{takeoff_time}}</li>
	<li id="gateArrival"> Arrival At Gate: {{gate_arrival_time}}</li> 
 
</ul>

</div>
<br>
<br>
<script type="text/javascript">
	var d = 150, factor = d / 3 * 2; // increment delay by two thirds original delay
	$("#maindiv ul li").each(function(){
    $(this).delay(d = d + factor).animate({marginLeft:'115px'},900);
		});

	var airport = $("#airport").data('port')+' airport';
	var iLoc = $("#iLoc").data('addr');
	// iLoc = iLoc.toString();
	

</script>
{{>dirtoairport}}