<style>
	#maindiv {
		background-color: black;
		width:50%;
	}
	li {
		font-size:18px;
		color:green;
	}

</style>

<div id="maindiv">
<ul>
<!-- 	{{#each air_info}}
    <li>{{@key}} : {{this}}</li>
	{{/each}} -->
	{{#if airline }}
	<li> Airline: {{airline}}</li>
	<li> Flight Status: {{arrival}}</li>
	<li> Departure City: {{departure_city}}</li>
	<li> Arrival City : {{arrival_city}}</li>
	<li> Departure Date: {{departure_date}}</li>
	<li> Arrival Date : {{arrival_date}}</li>
	<li> Take Off Time: {{takeoff_time}}</li>
	<li> Arrival At Gate: {{gate_arrival_time}}</li> 
	{{/if}} 
</ul>
</div>

{{>locationtest}}